@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f8ff;
}

.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.welcome {
    margin-top: 20px;
    color: #ffffff;
    background-color: #0077b6;
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 10px;
    font-family: cursive;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #ff4fc4;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease; 
}

.button:hover {
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.button:active {
    transform: scale(0.98);
}

img {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 25%;
}

.alllevel {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
